<%if(success && success.length>0){%>
  <div class="alert alert-success alert-dismissible fade show " id="flash-message" role="alert">
    <strong>success : <%=success%></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%}%>
<%if(error && error.length>0){%>
  <div class="alert alert-danger alert-dismissible fade show"  id="flash-message" role="alert">
    <strong>error: <%=error%></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%}%>